<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<groups>
		<run>
			<include name="smoke" />
			<include name="regression" />
		</run>
	</groups>
	<listeners>
		<listener class-name="utilities.ExtentReportManager"></listener>
	</listeners>
	<test thread-count="5" name="ChromeTest">
		<parameter name="br" value="Chrome" />
		<classes>
			<class name="testcases.BookshelvesCheck" />
			<class name="testcases.DropDownCheck" />
			<class name="testcases.GiftCardCheck" />

		</classes>
	</test>
	<test thread-count="5" name="EdgeTest">
		<parameter name="br" value="Edge" />
		<classes>
			<class name="testcases.BookshelvesCheck" />
			<class name="testcases.DropDownCheck" />
			<class name="testcases.GiftCardCheck" />

		</classes>
	</test>
</suite>